@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.management-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 42px;

  &__title {
    margin-bottom: 8px;
  }

  &__description {
    margin-bottom: 16px;
  }

  &__item-icon {
    margin-bottom: 16px;
  }

  &__item-title {
    margin-bottom: 8px;
  }

  &__list {
    display: flex;
    text-align: center;
    gap: 125px;
    padding: 0 144px;
  }
  &__items {
    padding: 24px 16px;
  }
}
