@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

$font-main: "Inter", sans-serif;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

$color-text-main: #18191f;
$color-neutral-black: #263238;
$color-neutral-grey: #4d4d4d;
$color-neutral-light: #2b353f;
$color-brand-primary: #4caf4f;
$color-white: #ffffff;
$color-neutral-silver: #f5f7fa;

$bp-tablet: 1024px;
$bp-mobile: 600px;
