@use "../../styles/variables" as *;

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-neutral-silver;
  z-index: 50;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 105px;
  }
}
